.main_container {
  margin: auto;
}
  
.main_content,
.sidebar {
  float: left;
}

.sidebar {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid;
}

.main_content80 {
  width: 80%;
}

.main_content100 {
    width: 100%;
}

.skills_tip {
    position: fixed;
    padding: 10px 20px;

    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 arial, sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.main_content {
  width: 80%;
}

.cheat {
    display: none;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-element {
    flex: 1;
}

.init_secret {
    display: none;
}

.init_hidden {
    visibility: hidden;
}

.init_secret_block {
  visible: false;
}

.collapsar {
    position: absolute;
    right: 0;
    top: 10px;
}

.container {
	width: initial;
    position: relative;
}

.reset_container {
    position: fixed;
    bottom: 10px;
}

.text-center {
    text-align: center;
}

hr {
    margin: 3px;
    padding: 0px;
    border: 0;
    height: 2px;
    background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

