button {
    outline: none !important;
}

.main_container {
    margin: auto;
}

.main_content,
.sidebar {
    float: left;
    padding: 20px;
}

.sidebar {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 100vh;
    overflow-x: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
}

.main_content80 {
    width: 80%;
}

.main_content100 {
    width: 100%;
}

.time-reset-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}

.time-reset-container #time_container {
    flex: 1;
}

.skills_tip {
    position: fixed;
    padding: 10px 20px;

    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 arial, sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.cheat {
    display: none;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-element {
    flex: 1;
}

.init_secret {
    display: none;
}

.init_hidden {
    visibility: hidden;
}

.init_secret_block {
    visible: false;
}

.collapsar {
    position: absolute;
    right: 0;
    top: 10px;
}

.collapsar:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    vertical-align: middle;
}

.collapsar.collapsed:after {
    content: "\e080";
}

.container {
    width: initial;
    position: relative;
}

.text-center {
    text-align: center;
}

hr {
    margin: 10px;
    padding: 0px;
    border: 0;
    height: 1px;
    background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

