.main_container {
  margin: auto;
}
  
.main_content,
.sidebar {
  float: left;
}

.sidebar {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid;
}

.main_content80 {
  width: 80%;
}

.main_content100 {
    width: 100%;
}

.main_content {
  width: 80%;
}

.cheat {
    display: none;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-element {
    flex: 1;
}

.init_secret {
    display: none;
}

.init_secret_block {
  visible: false;
}

.collapsar {
    position: absolute;
    right:0;
    top:10;
}

.container {
	width: initial;
    position: relative;
}

.text-center {
    text-align: center;
}

hr {
    margin: 3px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

